$ivory: #fffff0;
$red: #ff0d00;
$green: #c7f464;
$blue: #4ecdc4;
$yellow: #fdbd12;
$pink: #ff6b6b;
$black: #333;
$white: #fff;
$gray: #556270;

$magenta: #c44d58;
$purple: #c44d58;
$orange: #ff8100;
$lichtgrau: #d7d7d7;
$lilac: #9493da;
