@mixin portrait-background($background-color) {
	position: relative;
	z-index: 0;
	&:before {
		top: 0;
		height: 9em;
		left: 0;
		width: 2em;
		.backgroundsize & {
			width: 10em;
		}
	}
	@include skewed-background-color($background-color);
	&:before {
		content: " ";
		position: absolute;
		z-index: -1;
		@include transform(rotate(4deg) scaleY(1.15));
		@include antialias;
	}
}

#contact, #experiences, #education, #honors {
	list-style-type: none;
}

.self-portrait {
	display: inline-block;
	vertical-align: top;
	padding-left: 2em;
	@include portrait-background(transparentize($magenta, 0.1));
}

.tech {
	margin-right: .75em;
}