$logo-font-size-large: 1rem;
$logo-font-size-medium: 0.8rem;

@import "compass";
@import "compass/layout/sticky-footer";

@include sticky-footer(210px, "#wrapper", "#wrapper-footer", "#page-footer");

// common stuff from /ratpack-stylesheets
@import "palette";
@import "settings";
@import "breakpoints";
@import "reset";
@import "utilities";
@import "typography";
@import "layout";
@import "prism";
@import "ratpack-logo";
@import "theme-elements";
@import "page-elements";

@import "homepage";
@import "resume";